<%- include('../comunesinst/cabecera')%>
<% const existeMensaje = typeof datos.mensaje !== 'undefined'%>
<% if(existeMensaje){%>
    <div class="alert alert-success" role="alert">
        <%= datos.mensaje%>
    </div>
<%}%>

<div >
    <a href="/instrumentos/vista-crear">
        <button class="btn btn-success">
            Crear nuevo Instrumento
        </button>
    </a>
</div>
<div class='container'>
    <form action="lista-instrumentos"method="get">



        <div class="mb-3">
            <label for="busqueda" class="form-label">
                Busqueda
            </label>
            <input placeholder="Ej:Guitarra"
                   type="text"
                   name="busqueda"
                   class="form-control"
                   id="busqueda"
                   aria-describedby="ayudaBusqueda">
            <div id="ayudaBusqueda" class="form-text">
                Puede buscar por nombre o apellido.
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
    <h1>Lista</h1>
    <table class="table text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Fecha De Registro</th>
            <th scope="col">Usado</th>
            <th scope="col">Precio</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Editar</th>
        </tr>
        </thead>
        <tbody>
        <%datos.instrumento.forEach((objeto)=>{%>
        <tr>
            <th><%=objeto.id%></th>
            <th><%=objeto.nombre%></th>
            <th><%=objeto.tipo%></th>
            <th><%=objeto.cantidad%></th>
            <th><%=objeto.fechaRegistro%></th>
            <th><%=objeto.usado%></th>
            <th><%=objeto.precio%></th>
            <th>
                <form action="eliminar-instrumento/<%= objeto.id%>" method='post'>
                    <button class="btn btn-danger">Eliminar</button>

                </form>

            <th>
                <form action="pedido-editar-instrumento/<%= objeto.id%>" method='post'>
                    <button class="btn btn-danger">Editar</button>

                </form>

            </th>




            </th>
        </tr>
        <%})%>
        </tbody>
    </table>
</div>

<%- include('../comunesinst/footer')%>